bin
.settings
.classpath
.project
.gradle/
.idea/
*.iml
build/
classes/
.DS_Store
tmp/
logs/
.gradletasknamecache
out/
deploy/.terraform/
deploy/.aws_credentials
deploy/outputs.json
deploy/build.properties
configuration/*/env
